.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 600px;
  margin: 0 auto;
}

.main {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding-bottom: var(--spacing-lg);
}
